* {
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    border: none;
    text-align: center;
    font-size: 5vh;
    color: white;
    background: linear-gradient(90deg, rgba(223,226,44,1) 0%, rgba(57,23,204,1) 100%);
    overflow-y: scroll;
}

#message, #button {
    z-index: 1;
    bottom: 0;
    position: fixed;
    height: 10vh;
}

#message {
    background: darkblue;
    left: 0;
    width: 80vw;
}

#button {
    background: blue;
    right: 0;
    width: 20vw;
}

div:hover {
    background: red;
}

#messages {
    height: 90vh;
}