* {
  -webkit-appearance: none;
  box-sizing: content-box;
  margin: 0;
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 1em 1em 1em 1em;
  font-family: "Courier New", Courier, monospace;
  color: lightblue;
  background: black;
  overflow: hidden;
}

body {
  white-space: pre;
}

.topic {
  background: black;
  border-style: solid;
  border-color: palegreen;
}

div {
  color: yellow;
  background: red;
}

#form {
  width:fit-content; 
  background: white;
  display: flex;
  height: 20%;
}

#message,
#button {
  z-index: 1;
  bottom: 0;
  height: 1em;
}

#message,
::placeholder {
  color: white;
  left: 0;
}

#button {
  width: 8em;
  color: white;
  background: blue;
}

#delete:hover,
#button:hover {
  color: black;
  background: yellow;
  transition: transform 2s;
}

#messages {
  overflow-y: scroll;
  height: 25em;
}

#delete {
  border-radius: 30%;
  animation-name: animation_1;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

#messages {
  border-radius: 5%;
  animation-name: animation_1;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes animation_1 {
  0% {
    background: rgb(255, 255, 255);
  }
  100% {
    background: rgb(0, 0, 0);
  }
}
